<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="admin/market/create" class="nav-link" routerLinkActive="active">
          Create Market
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="admin/markets" class="nav-link" routerLinkActive="active">
          Markets
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="admin/coin/create" class="nav-link" routerLinkActive="active">
          Create Coin
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="admin/coins" class="nav-link" routerLinkActive="active">
          Coins
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
