<table class="table table-hover">
  <thead>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Last price</td>
    <td>Base asset</td>
    <td>Quote asset</td>
    <td colspan="2">Action</td>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let coin of coinList">
    <td>{{ coin.id }}</td>
    <td>{{ coin.name }}</td>
    <td>{{ coin.lastPrice }}</td>
    <td>{{ coin.baseAsset }}</td>
    <td>{{ coin.quoteAsset }}</td>
    <td><a [routerLink]="['/admin/coin/create']" class="btn btn-primary">Create</a></td>
    <td><a [routerLink]="" class="btn btn-danger">Delete</a></td>
  </tr>
  </tbody>
</table>

